html, body {
    padding: 0;
    margin: 0;
}

.grid-container {
    width: 100vw;
    margin: 50px auto auto auto;
    height: calc(100vh - 50px);
    display: flex;
    border: 2px solid rgba(0,0,0,0.4);
    transition: 1s ease;
}

.sidebar {
    z-index: 1;
    width: 25%;
    height: 100%;
    background-color: #54a;
    transition: 1s ease;
    position: relative;
}

.sidebar-tabs {
    width: 100%;
    height: 50px;
    background-color: white;
    transition: 1s ease;
    position: relative;
    text-align: center;
}

.sidebar-panel {
    width: 100%;
    height: calc(100% - 50px);
    background-color: #54a;
    transition: 1s ease;
    position: relative;
}

.main-content {
    width: 75%;
    height: 100%;
    background-color: #ccc;
    transition: 1s ease;
}

.main-content_large {
    width: 100%;
}
  
.sidebar_small {
    width: 0%;
}
  
#sidebar-btn {
    position: absolute;
    border: none;
    height: 80px;
    width: 30px;
    border-radius: 0% 25% 25% 0%;
    box-shadow: 0px 1px 4px 1px rgba(0 ,0, 0, .3);
    left: calc(100% + 15px);
    top: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

#sidebar-btn-label {
    margin: auto;
    writing-mode: vertical-lr;
}

#viewDiv {
    position: relative;
}

.tabs {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    transition: 1s ease;
}

.tabs_hide {
    transform: translateX(-100%);
}

.tabs button {
    width: 100%;
    height: 100%;
    background-color: white;
}

.tab {
    border: 1px solid transparent;
}

.tabs button:hover {
    border: 1px dashed rgb(181, 222, 247);
}

.active {
    border: 1px solid rgb(134, 194, 231);
}

.tab-icon {
    color: black;
}

#data-panel {
    background-color: burlywood;
}

#event-panel {
    background-color: aquamarine;
}

#iwa-panel {
    background-color: thistle;
}

#report-panel {
    background-color: springgreen;
}

.scroller {
  overflow-x: hidden;
  overflow-y: auto;
}

.event-widget {
    display: none;
}
